<%- form_tag password_resets_path do %>

  <div class="error_usr_pw_re"><%= reset_flash_helper%></div>
  <fieldset class="pw_reset">
    <legend>Reset your password</legend>
    <div class="activate_user_inst">For security purposes, we will send you instructions to reset your password to the email you used to sign up with us.</div>

    <div>
      <%= label_tag :email , "Email", :style=>"font-size: 110%; font-weight: 500; left: -195px; opacity: 1; position: relative; top: 19px;"%>
      <%= text_field_tag "email" %>
    </div>

    <div >
      <button  class="btn_rst_passwrd" name="commit" type="submit"></button>
    </div>

  </fieldset>
<%- end %>
