Transaction ID: <%= @application.transaction_id.upcase %>

Hi <%= @application.user.first_name %>,

Thank you submitting your application. The landlord will review your application and respond to you regarding his decision.

What to do next:
1. View your Dashboard for more details: <%= @my_dashboard_my_account_url %>
2. Wait for the landlord to respond to your application

The Boxyroom Team
