Hi <%= @property.owner.first_name %>,

Congratulations! Your listing has been approved to be listed on Boxyroom. Your property can now be searched and view by potential tenants.

What to do next:
1. View your listing here: <%= @link %>
2. Wait to receive applications for your property

The Boxyroom Team