Transaction ID: <%= @application.transaction_id.upcase %>

Hi <%= @application.property.owner.first_name %>,

Congratulations, you have a confirmed tenant!  The applicant has confirmed to rent your property by placing a deposit with Boxyroom. 

What to do next:
1. View your Dashboard for more details: <%= @my_dashboard_my_account_url %>
2. Contact your tenant and check if she/he will be arriving on the date indicated in the application form
3. Explain to your tenant how to get to your property by public transport or by car
4. Prepare the rental agreement, checklists and any other documentation to comply with your local laws
5. After the rental agreement is signed, ask your new tenant for the Payment Code with which you can withdraw the deposit paid by the tenant, less Boxyroom fees

The Boxyroom Team