<html>
  <div style="margin-bottom:10px"><span >Transaction</span> <%= @application.transaction_id.upcase %></div>
  <div style="margin-bottom:10px"><span>Hi <span><%= @application.property.owner.first_name %></div>
  <div style="margin-bottom:10px"><span>We’ve successfully transferred the tenant’s deposit to your Paypal account.<span></div>
  <div ><label style="width:25%;margin-right:10px;display: block;float:left;">Deposit paid by your tenant</label><span style="width:70%;float:left;"><%= @application.property.currency_type.nil? ? 'US' : (@application.property.currency_type == 'USD' ? 'US' : (@application.property.currency_type == 'SGD' ?  'S'  : (@application.property.currency_type == 'AUD' ?  'A'  : (@application.property.currency_type == 'CAD' ? 'C' : ""))))%><%= ISO4217::Currency.from_code(@application.property.currency_type.nil? ? 'USD' : @application.property.currency_type).symbol%><%=@application.property.monthly_rental.to_i%></span></div>
 
 <div><label style="width:25%;margin-right:10px;display: block;float:left;">Boxyroom fees</label><span style="width:70%;float:left;"><%= @application.property.currency_type.nil? ? 'US' : (@application.property.currency_type == 'USD' ? 'US' : (@application.property.currency_type == 'SGD' ?  'S'  : (@application.property.currency_type == 'AUD' ?  'A'  : (@application.property.currency_type == 'CAD' ? 'C' : ""))))%><%= ISO4217::Currency.from_code(@application.property.currency_type.nil? ? 'USD' : @application.property.currency_type).symbol%><%=(@application.property.monthly_rental * BOXYROOM_ADMIN_FEE).to_i%></span></div>
 <div class="clr"></div>
 <div style="margin-bottom:25px"><label style="width:25%;margin-right:10px;display: block;float:left;">Balance</label><span style="width:70%;float:left;"><%= @application.property.currency_type.nil? ? 'US' : (@application.property.currency_type == 'USD' ? 'US' : (@application.property.currency_type == 'SGD' ?  'S'  : (@application.property.currency_type == 'AUD' ?  'A'  : (@application.property.currency_type == 'CAD' ? 'C' : ""))))%><%= ISO4217::Currency.from_code(@application.property.currency_type.nil? ? 'USD' : @application.property.currency_type).symbol%><%=(@application.property.monthly_rental * PAYMENT_TO_LANDLRD).to_i %></span>
  <div style="clear:both;"></div>
 </div>

<span>The Boxyroom Team</span>
</html>