Hi <%= @property.owner.first_name %>,

We regret to inform you that your listing has been rejected due to incomplete or irrelevant information. 

What to do next:
1. Don’t worry, you can amend your listing and submit it for approval again by following this link: <%= @link %>
2. Wait for approval

Good luck!

The Boxyroom Team