Hi <%= @first_name %>
We regret to inform you that your properly ownership documents for <%=@unit_no%>
<%=@street_name%>, <%=@state%>, <%=@city%>, <%=@country%> <%=@postal_code%> have been rejected. You may have uploaded incomplete or wrong documents. 

What to do next:
1. Don’t worry, you can upload again the correct documents for your property at http://50.57.64.157/my/properties. We accept documents such as a scan of the title or deed, bill of property sale, utilities or cable television bill (with your name and property address clearly shown).
2. Wait for approval

Good luck!

The Boxyroom Team

