<html>
<div style="margin-bottom:10px"><span >Transaction ID: <%= @application.transaction_id.upcase %></span> </div>
<div style="margin-bottom:10px">Hi Admin,</div>
<div style="margin-bottom:10px">The landlord has requested for withdrawal of deposit.</div>

 
  <div style="width:100%;">
    <label style="width:25%;margin-right:10px;display: block;float: left;">Payment Code received</label>
    <span  style="width:70%;float: left;"><%= @application.updated_at %></span>
  </div>
  
  <div style="width:100%;">
     <label style="width:25%;margin-right:10px;display: block;float:left;">Name of landlord</label>
     <span style="width:70%;float:left;"><%= @application.property.owner.full_name_profile %></span>
  </div>
  
  <div style="width:100%;">
      <label style="width:25%;margin-right:10px;display: block;float:left;">Property</label>
      <span style="width:70%;float:left;"><%=@application.property.address.unit_no%><%= @application.property.address.location%><%=@application.property.address.postal_code%></span>
   </div>
 
  <div style="width:100%;">
      <label style="width:25%;margin-right:10px;display: block;float:left;">Transaction ID</label>
      <span style="width:70%;float:left;"><%= @application.transaction_id.upcase %></span>
  </div>
 
  <div style="width:100%;"><label style="width:25%;margin-right:10px;display: block;float:left;">Payment Code</label><span style="width:70%;float:left;"><%= @application.payment_token %></span></div>
 
 <div style="width:100%;"><label style="width:25%;margin-right:10px;display: block;float:left;">Landlord Paypal account</label><span style="width:70%;float:left;"><%= @application.property.owner.payment_transfer_mail %></span></div>
 <div style="clear:both;"></div>
 </div>


<div style="margin-top:10px;"><label style="width:25%;margin-right:10px;display: block;float:left;">Deposit paid by tenant</label><span style="width:70%;float:left;"><%= @application.property.currency_type.nil? ? 'US' : (@application.property.currency_type == 'USD' ? 'US' : (@application.property.currency_type == 'SGD' ?  'S'  : (@application.property.currency_type == 'AUD' ?  'A'  : (@application.property.currency_type == 'CAD' ? 'C' : ""))))%><%= ISO4217::Currency.from_code(@application.property.currency_type.nil? ? 'USD' : @application.property.currency_type).symbol%><%=@application.property.monthly_rental.to_i%></span>
<div style="clear:both;"></div>
</div>

<div ><label style="width:25%;margin-right:10px;display: block;float:left;">Boxyroom fees</label><span style="width:70%;float:left;"><%= @application.property.currency_type.nil? ? 'US' : (@application.property.currency_type == 'USD' ? 'US' : (@application.property.currency_type == 'SGD' ?  'S'  : (@application.property.currency_type == 'AUD' ?  'A'  : (@application.property.currency_type == 'CAD' ? 'C' : ""))))%><%= ISO4217::Currency.from_code(@application.property.currency_type.nil? ? 'USD' : @application.property.currency_type).symbol%><%=(@application.property.monthly_rental * BOXYROOM_ADMIN_FEE).to_i%></span></div>

<div style="margin-bottom:10px"><label style="width:25%;margin-right:10px;display: block;float:left;">Balance to landlord</label><span style="width:70%;float:left;"><%= @application.property.currency_type.nil? ? 'US' : (@application.property.currency_type == 'USD' ? 'US' : (@application.property.currency_type == 'SGD' ?  'S'  : (@application.property.currency_type == 'AUD' ?  'A'  : (@application.property.currency_type == 'CAD' ? 'C' : ""))))%><%= ISO4217::Currency.from_code(@application.property.currency_type.nil? ? 'USD' : @application.property.currency_type).symbol%><%=(@application.property.monthly_rental * PAYMENT_TO_LANDLRD).to_i %></span></div>

