#facebox .b {
  background: url(/images/facebox/b.png);
}

#facebox .tl {
  background: url(/images/facebox/tl.png);
}

#facebox .tr {
  background: url(/images/facebox/tr.png);
}

#facebox .bl {
  background: url(/images/facebox/bl.png);
}

#facebox .br {
  background: url(/images/facebox/br.png);
}

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}

#facebox .popup {
  position: relative;
}

#facebox table {
  border-collapse: collapse;
}

#facebox td {
  border-bottom: 0;
  padding: 0;
}

#facebox .body {
  padding: 10px;
  background: #fff;
/*  width: 370px;*/
  width: 500px;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox .content {
  display: block;
}

#facebox .loading {
  background-image: url(/images/facebox/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 32px;
  clear: both;
  overflow: hidden;
  text-indent: -9999em;
}

#facebox .footer {
  border-top: 1px solid #DDDDDD;
  padding-top: 5px;
  margin-top: 10px;
  display: block;
}

#facebox .close {
  background-image: url(/images/facebox/close.gif);
  background-repeat: no-repeat;
  width: 66px;
  height: 22px;
  clear: both;
  display: inline;
  float: right;
  overflow: hidden;
  text-indent: -9999em;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

