<div class="container">
  <div class="copyright">&copy; 2012 Boxyroom</div>
  <ul class="links">
    <li><%= link_to "FAQ", faq_path %></li>
    <li><%= link_to "Terms of Use", terms_of_use_path %></li>
    <li><%= link_to "Privacy Policy", privacy_policy_path %></li>
    <li><%= link_to "Contact Us", contact_us_path %></li>
    <li><%= link_to "Twitter", "http://twitter.com/boxyroomrocks" %></li>
    <li><%= link_to "Facebook", "http://www.facebook.com/pages/Boxyroom/280933772469" %></li>
    <li><%= link_to "Blog", "http://boxyroom.tumblr.com/" %></li>
  </ul>
</div>