<div id="content">
  <div class="howitwork_container space2">
    <div class="primary">
      <div class="howitwork_heading">
        <div class="howitwork_heading_left_corner"></div>
        <div class="howitwork_heading_middle_corner">
          <div class="privacy_heading_icon"></div>
          <div class="howitwork_txt">Privacy Policy</div>
        </div>
        <div class="howitwork_heading_right_corner"></div>
      </div>
        <div class="howitwork_main_content">
          <div class="howitwork_content">
          <p class="normal-cntn" id="terms_privacy_top_text_size"> Please read this Privacy Policy (the "Policy") carefully before using Boxyroom.com (the "Site"). By accessing, browsing and using the Site, you acknowledge that you have read and understand this Policy. This Policy applies to your use of this Site only; should you follow a link on this Site to another website, you are no longer covered by this Policy.
Boxyroom (hereinafter "we," "us," "Boxyroom") owns and operates the Site. We reserve the right to modify this privacy statement at any time, with or without notice. </p>
	     <div class="terms_full_text"><h3>USER-PROVIDED INFORMATION. </h3><p class="learn_p">We collect personal information when you register or add a property inquiry or listing, including but not limited to your email address, phone number, and mailing address (the "Personal Information"). If you are listing a property, we will also collect property-specific information including but not limited to amenities, rates, policies, and location (the "Property Information"). We may use your Personal Information to contact you from time to time with customer updates and information, or to send you information about new services or opportunities. You will be able to "opt out" of receiving marketing information by sending an email to us at contact@boxyroom.com. However, as a condition of maintaining your account, we will have the right to contact you at any time regarding your account. Should you not wish to receive further contact from us, you have the option of deactivating your account.<br><br>
We will not share your information with third parties, except: (i) in the case of special promotions by Boxyroom or a third-party (unless you have elected to "opt out" of receiving marketing information; (ii) where a third party performs services on behalf of Boxyroom and has agreed to keep such information confidential (such as processing your credit card payment or conducting an online survey); and (iii) the aggregate use of the information of multiple Boxyroom users where individual Personal Information is not disclosed. We may share Site usage information about users with a third-party tracking company for the purposes of reporting statistics. For this purpose, some of the pages you visit on the Site use tracking mechanisms such as pixel tags (also called clear gifs). We may also use your information to market our services and to gain feedback on potential new services. We reserve the right to disclose your Personal Information and/or Property Information as required by law and when we believe that disclosure is necessary to protect our rights and/or comply with a judicial proceeding, court order, or legal process.
 </p>
	     </div>
           <div class="terms_full_text"><h3>USER COMMUNICATIONS. </h3><p class="learn_p">Users of the Site may send email inquiries to Landlords and service providers and/or provide email responses via clickable links on the Site. If you choose to utilize such link or links, your Personal Information and/or Property Information may become known to the third party with whom you are communicating. Do not share such information that you are not prepared to allow such parties to have, including, but not limited to credit card and bank account information. We may also retain these email inquiries and/or responses. While the content of these email inquiries and/or responses is not shared with any other party, we may from time to time use third party email servers to send and track receipt of such inquiry/response emails, and analyze the pattern of inquiry/response usage via these third-party tracking systems.  </p><br>
           <div class="clr"></div>
        </div>
         <div class="terms_full_text"><h3>PROTECTION OF YOUR INFORMATION. </h3><p class="learn_p">Boxyroom encrypts and stores all personal information, including credit card information, on a secured server. We use Secure Socket Layer (SSL) encryption for information you may provide on our booking process or online signup process. Please be aware, however, that no transmission of information via the Internet can be entirely secure. You should, therefore, always use caution when submitting personal information online. We take commercially reasonable steps to provide security for your information once we receive it. We do not share, sell, rent, or trade personal information with third parties for their promotional purposes. We reserve the right to disclose your Personal Information, Property Information, or other information as required by law and when we believe that disclosure is necessary to protect our rights and/or comply with a judicial proceeding, court order, or legal process served on our Site. We use a credit card processing company to bill property Landlords for services and to collect booking charges. To the best of our knowledge, these companies do not retain, share, store or use personally identifiable information for any other purposes.  </p>
           </div>
           <div class="terms_full_text"><h3>CHANGE OF PERSONAL INFORMATION. </h3><p class="learn_p">Should you want to change or access your Personal Information, you may do so on the Site under your Profile. To protect your privacy and security, we will verify your identity before granting access or making changes to your Personal Information and/or Property Information.  </p>
               <div class="clr"></div>
           </div>
	     <div class="terms_full_text"><h3>COOKIES. </h3><p class="learn_p">Boxyroom may use cookies to store some of your personal preferences for future visits. A "cookie" is a small piece of information sent by a web server to store in a web browser so that it can later be read back from that browser. Cookies allow us to recognize you more quickly; therefore, your time spent on the Site can be more personalized and productive. We do not link the information we store in cookies to any Personal Information you submit while on our site.  </p><br>
         <p>We may use third-party site usage tracking companies to analyze use of the Site or to conduct surveys. In the course of serving the Site, these third parties may place or recognize a unique "cookie" on your browser. These companies may use information (not including your name, address, email address or telephone number) about your visits to the Site and other websites in order to help us understand how to serve you better. We have no access to or control over these cookies. </p>
	     </div>
           <div class="terms_full_text"><h3>REVIEWS AND CUSTOMER FEEDBACK. </h3><p class="learn_p">Boxyroom sometimes receives testimonials and comments from Site users wishing to share their booking and/or travel experiences. We may publish such content from time to time. By submitting such testimonials and comments, you grant us permission to publish such content at our sole discretion. Please be aware that any Personal Information, Property Information, or other information you submit can be read, collected or used by other users of this site and you could be sent unsolicited messages. We are not responsible for the Personal Information, Property Information or other information which you choose to submit for testimonials.  </p>
	      </div>
          <div class="terms_full_text"><h3>SURVEYS OR CONTESTS. </h3><p class="learn_p">From time-to-time we may provide you the opportunity to participate in contests or surveys on our site. If you participate, we will request certain Personal Information and or other information from you. Participation in these surveys or contests is completely voluntary and you therefore have a choice whether or not to disclose such information. The requested information typically includes contact information (such as name and email address), and demographic information (such as postal code). We use this information to award prizes and to continually improve the user experience at Boxyroom. We may use a third party service provider to conduct these surveys or contests; that company is prohibited from using our users' Personal Information for any other purpose.  </p>
	      </div>
         <div class="terms_full_text"><h3>INTERNATIONAL USERS--APPLICABLE LAW. </h3><p class="learn_p">Boxyroom collects, processes, stores, discloses and disposes of Personal Information and/or Property Information or other information that you submit to us in accordance with applicable laws of the Republic of Singapore. Please note that the Personal Information, Property Information, or other information you submit to Boxyroom will be transferred to the Republic of Singapore to be processed by Boxyroom in order to provide the Site and its services to you or for such other purposes as set forth in this Policy. If you are not a resident of the Republic of Singapore, you acknowledge and agree that Boxyroom may collect and use your Personal Information, Property Information, or other information, as discussed in this Policy, outside your resident jurisdiction. In addition, Boxyroom may store such Personal Information, Property Information or other information in the Republic of Singapore, outside your resident jurisdiction. Please be aware that Republic of Singapore laws may offer different levels of protection for Personal Information, Property Information, or other information than may be available in your country. </p>
	      </div>
           <div class="terms_full_text"><h3>OTHER LIMITATIONS. </h3><p class="learn_p">While Boxyroom takes reasonable steps to safeguard and to prevent unauthorized access to your information, we cannot be responsible for the acts of those who gain unauthorized access, and we make no warranty, express, implied, or otherwise, that we will prevent unauthorized access to your private information. </p><br>
          <p>IN NO EVENT SHALL BOXYROOM BE LIABLE FOR ANY DAMAGES (WHETHER CONSEQUENTIAL, DIRECT, INCIDENTAL, INDIRECT, PUNITIVE, SPECIAL OR OTHERWISE) ARISING OUT OF, OR IN ANY WAY CONNECTED WITH, A THIRD PARTY'S UNAUTHORIZED ACCESS TO YOUR PERSONAL INFORMATION, THE PROPERTY INFORMATION, OR ANY OTHER USER PROVIDED INFORMATION REGARDLESS OF WHETHER SUCH DAMAGES ARE BASED ON CONTRACT, STRICT LIABILITY, TORT OR OTHER THEORIES OF LIABILITY, AND ALSO REGARDLESS OF WHETHER BOXYROOM WAS GIVEN ACTUAL OR CONSTRUCTIVE NOTICE THAT DAMAGES WERE POSSIBLE. </p>
          </div>
        </div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
     <div class="howitwork_bottm_corner_row">
              <div class="howitwork_bottm_leftcor"></div>
              <div class="howitwork_bottm_middle"></div>
              <div class="howitwork_bottm_rightcor"></div>
     </div>
            <div class="clr"></div>
		</div>
			</div>
		</div>
     </div>