<div id="content">
			<div class="howitwork_container space2">
    <div class="primary">
      <div class="howitwork_heading">
        <div class="howitwork_heading_left_corner"></div>
        <div class="howitwork_heading_middle_corner">
          <div class="terms_heading_icon"></div>
          <div class="howitwork_txt">Terms of use</div>
        </div>
        <div class="howitwork_heading_right_corner"></div>
      </div>
        <div class="howitwork_main_content">
          <div class="howitwork_content" >
          <p id="top_heading_terms"><strong>THE FOLLOWING DESCRIBES THE TERMS ON WHICH BOXYROOM OFFERS YOU ACCESS TO OUR SITE AND SERVICES.</strong></p><br/>
          <p class="normal-cntn" id="terms_privacy_top_text_size"> Welcome to the Web site operated by Boxyroom (hereafter referred to as "Boxyroom," "we," "us," or "our"), a Singapore corporation. Boxyroom maintains www.boxyroom.com (hereafter "Site"), as a service to our users and visitors (our Site and such services, collectively, our "Services"). By using this Site, you agree to comply with and be legally bound by the following terms of use ("Terms"), whether or not you become a registered user of the Services. Please review the following terms carefully. If you do not agree to these terms, you have no right to obtain information from or otherwise continue using this Site. Failure to use this Site in accordance with the following terms of use may subject you to severe civil and criminal penalties. We reserve the right to modify these Terms or policies relating to the Services at any time, effective upon posting of an updated version of these Terms on the Site. You are responsible for regularly reviewing these Terms. By using this Site, you agree that the posting of new or revised terms of use on the Site will constitute adequate and constructive notice to you of any and all revisions and changes. Continued use of the Service after any such changes or after explicitly accepting the new Terms upon logging into the site shall constitute your consent to such changes. 	</p><br/>
         <p class="main_terms_point"> 1. USER RESPONSIBILITIES </p> 
	     <div class="terms_full_text"><h3>1.1 Venue.</h3><p class="learn_p">Our Site is an online venue through which users find and learn about each other. Our Site is merely a          venue for users to learn about one another and, if they wish, arrange stays with one another. We are not          involved in the actual face-to-face contact between users. As a result, we have no control over the conduct          of our users or the truth or accuracy of the information that users post on the Site. The quality, safety          or legality of the properties advertised, the truth or accuracy of the listings (including the content          thereof or any property or tenant book review), the ability of members to rent vacation property or the          ability of tenants to pay for rental properties are solely the responsibility of each user. </p>
	     </div>
	     <div class="terms_full_text"><h3>1.2 Identity Verification.</h3>
	     <p class="learn_p">We make no attempt to confirm, and do not confirm, any user's purported identity. You are responsible          for determining the identity and suitability of others who you may contact by means of this Site. We          do not endorse any persons who use or register for our Services, whether as tenants or landlords. We          do not investigate any user's reputation, conduct, morality, criminal background, or verify the          information that any user submits to the Site. We encourage you to communicate directly with potential          landlords and tenants through the tools available on the Site and to review your landlords’ and          tenants’ profile pages for feedback from other users. </p>
	     </div>
	     <div class="terms_full_text"><h3>1.3 Your Experience with Other Users.</h3><p class="learn_p">You are solely responsible for your interactions with other users of our Services. We will not be          responsible for any damage or harm resulting from your interactions with other users of our Services.          We reserve the right, but have no obligation, to monitor interactions between you and other users of          our Services and to take any other action in good faith to restrict access to or the availability of          any material that we or another user of our Services may consider obscene, lewd, lascivious, filthy,          violent, harassing or otherwise objectionable. </p>
	     </div><div class="terms_full_text"><h3>1.4 Indemnity</h3>
	     <p class="learn_p">You agree to indemnify and hold us, and our subsidiaries, affiliates, officers, directors, agents,          co-branders, attorneys, joint-ventures, employees, or other partners, harmless from any claim or          demand, including attorney's fees, made by (i) any third party due to or arising out of Content you          submit, post, transmit or make available to us and (ii) any Tenant, Landlord, or third-party arising          out of a transaction or stay arranged via the Website (including, without limitation, for damage to          or loss of real or personal property, personal injury, the violation of any law, or the breach of any          lease or agreement relating to real property). </p>
	     </div>
          <div class="clr">	</div>
          
          
           <p class="main_terms_point"> 2. USER CONDUCT </p>
           <div class="terms_full_text"><h3>2.1 User Conduct</h3><p class="learn_p">You understand that we do not provide the information on the Website and that all publicly posted or privately transmitted information and/or data, including but not limited to, text, photographs, graphics, messages, images, sounds, emails, comments, feedback, suggestions, ideas or other materials ("Content") are the sole responsibility of the person from which such Content originated. You agree and represent that you are entirely responsible for all Content that you upload, download, post, email, transmit or otherwise use or make available via the Service and this Website. Since we do not control the Content posted on the Website or sent to you from another user of the Website, advertiser, or other third-party, we cannot and do not guarantee the accuracy, integrity or quality of such Content. You understand that by using the Website and/or the Service, you may be exposed to offensive, indecent or objectionable Content. You agree that we are not liable for any Content, including, but not limited to, any errors or omissions in any Content, or for any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available via the Website and/or the Service or actions taken in response or reaction thereto.  </p><br>
           
           <p>You agree not to use the Website and/or the Service for any illegal or inappropriate purpose, and affirmatively represent and warrant: </p><br>
           
           <ul>
           		<li><span>that you will not upload, post, email, transmit or otherwise make available any Content that is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, pornographic, libellous, invasive of another's privacy, hateful, or racially, ethnically, religiously or otherwise objectionable, or other material or content that would violate rights of publicity and/or privacy or that would violate any law.</span></li>

                <li><span>that you will not harm minors in any way;</span> </li>
                <li><span>that you will not impersonate any person or entity, including, but not limited to, any employee, officer or director of Boxyroom, guide, traveller, landlord, or user, or falsely state or otherwise misrepresent your affiliation with a person or entity;</span> </li>
                <li><span>that you will not forge headers or otherwise manipulate identifiers for any purpose;</span> </li>
                <li><span>that you will not disguise the origin of any Content transmitted through the Service and you will not misrepresent listings;</span> </li>
                <li><span>that you will not upload, post, email, transmit or otherwise make available any Content that you do not have a right to make available under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements);</span></li>
				<li><span>that you will not upload, post, email, transmit or otherwise make available any Content that infringes any patent, trademark, trade secret, copyright or other proprietary rights ("Rights") of any person or entity;</span> </li>
                <li><span>that you will not upload, post, email, transmit or otherwise make available any unsolicited or unauthorised advertising, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation, except in those areas that are specifically designated for such purpose; </span></li>
                <li><span>that you will not upload, post, email, transmit or otherwise make available any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;</span> </li>
                <li><span>that you will not disrupt the normal flow of dialogue, cause a screen to "scroll" faster than other users of the Website are able to type, or otherwise act in a manner that negatively affects other users' ability to engage in real time exchanges or use of the Website;</span> </li>
                <li><span>that you will not interfere with or disrupt the Website or servers or networks connected to the Website, or disobey any requirements, procedures, policies or regulations of networks connected to the Website;</span></li>
				<li><span>that you will not engage in any activity that is contrary to or which would adversely affect the purpose or intention of the Website, including but not limited to, actually or attempting to manipulate, corrupt or otherwise affect the outcome of the Website's Services, in whole or part, by, among other methods, subscribing another party without their authorisation or registering multiple subscriptions under the same or different names;</span> </li>
                <li><span>that you will not act in a manner that negatively affects other users' ability to engage in the Website;</span></li>
				<li><span>that you will not intentionally or unintentionally violate any applicable local, state, national or international law;</span> </li>
                <li><span>that you will not "stalk" or otherwise harass another; or</span></li>
				<li><span>that you will not collect or store personal data about users of this Website or the Content posted by others on this Website or use such information for any purpose inconsistent with the purpose of this Website or for the purpose of transmitting or facilitating transmission of unsolicited bulk electronic mail or communications.</span> </li>
                
           </ul><br>
           
           <p>You acknowledge that we pre-screen Content, and Boxyroom, and its designees shall have the right (but not the obligation) in their sole discretion to refuse, move, or remove any Content on the site for any reason we deem reasonable, in our sole discretion. You agree that you must evaluate, and bear all risks associated with, the use of any Content, including any reliance on the accuracy, completeness, or usefulness of such Content. In this regard, you acknowledge that you may not rely on any Content created by us or submitted to us, including any you find on the Website. We may preserve Content in our sole discretion and we may also disclose such information to third parties to: (a) comply with legal process; (b) enforce this Agreement; (c) respond to claims that any Content violates the rights of third-parties; or (d) protect our rights, property, or personal safety or the rights, property and personal safety of our users and the public. We do not, however, undertake any affirmative obligation to examine Content or disclose Content to any third party for any reason. You understand that your Content may be transmitted over a number of different networks and people other than those on this Website could gain access to it. </p>
           
          
           
          <div class="clr"></div>
        </div>
        
         <div class="terms_full_text"><h3>2.2 Disputes with Other Users.</h3><p class="learn_p">You are solely responsible for your interactions with other Boxyroom users. We reserve the right, but have no obligation, to monitor disputes between you and other users.  </p>
           </div>
           
           <div class="terms_full_text"><h3>2.3 Listing Prices.</h3><p class="learn_p">If you post a listing offering accommodation through the Site which is accepted by you and a tenant, you acknowledge and agree that the price you specify for that listing will constitute an essential part of a binding agreement between you and the tenant. You further agree not to alter the price once accepted.  </p>
               <div class="clr"></div>
           </div>

           <div class="clr"></div>
        
        
        <p class="main_terms_point"> 3. MINORS MAY NOT USE SERVICES. </p>
           <div class="terms_full_text">
           		<p class="learn_p">You must be at least 18 years old to register to use the Services. By registering to use our Services, you represent that you are over 				18.</p>
           </div>
           
           <p class="main_terms_point space3">4. PRIVACY.</p>
           <div class="terms_full_text">
           		<p class="learn_p">The Privacy Policy of Boxyroom is available on the Site and is hereby incorporated by reference. You agree to abide by all terms set forth in the Privacy Policy. </p>
           </div>
           
           <p class="main_terms_point space3"> 5. CONTENT</p> 
	     <div class="terms_full_text"><h3>5.1 You Grant Us a License.</h3><p class="learn_p">By submitting any content (including without limitation, any photograph, words, pictures, or symbols) to our Site, you hereby grant us a perpetual, worldwide, non-exclusive, royalty-free license to use, reproduce, display, perform, adapt, modify, sell, distribute, have distributed and promote such content in any form, in all media now known or hereinafter created and for any purpose, subject to the Privacy Policy as described in Section 4. You represent and warrant that you have sufficient rights to grant us this license. </p>
	     </div>
         
         <div class="terms_full_text"><h3>5.2 Content Restrictions.</h3><p class="learn_p"> </p>
             <ul>
                You are solely responsible for any content that you submit, post or transmit via our Services. You may not post or submit any content that:
                <li><span>infringes the copyright, trademark, or other intellectual property rights of any person; </span></li>
                <li><span>is defamatory; </span></li>
                <li><span>contains nudity or sexually explicit content, or is otherwise obscene; </span></li>
                <li><span>may disparage any ethnic, racial, sexual, religious, or other group by stereotypical depiction or otherwise;</span> </li>
                <li><span>depicts individuals under 18 years of age; </span></li>
                <li><span>depicts or advocates the use of illicit drugs;</span> </li>
                <li><span>makes use of offensive language or images;</span> </li>
                <li><span>characterises violence as acceptable, glamorous or desirable; or</span> </li>
                <li><span>provides a link to any other websites.</span> </li>
             </ul>
         
	     </div>
         
         
        <div class="terms_full_text"><h3>5.3 No Obligation to Post Content.</h3><p class="learn_p">We have no obligation to post any content from you or anyone else. In addition, we may, in our sole and unfettered discretion, edit, remove or delete any content that you post or submit. </p>
	     </div>


         
         <p class="main_terms_point space3">6 THIRD-PARTY CONTENT</p>
           <div class="terms_full_text"><p class="learn_p">The Website, Service, and Content available through the Website may contain features and functionalities that may link you or provide you with access to third-party content which is completely independent of the Website, including third-party websites, directories, servers, networks, systems, information and databases, applications, software, programs, products or services, and the Internet as a whole. You acknowledge that we have no control over such sites and resources, and you agree that we are not responsible for the content, functionality, availability, advertising, products, or other materials or services of such sites or any additional links contained therein. The existence of a link on the Website does not constitute or imply an endorsement in any manner whatsoever of such third-party site, service, product, material, or content thereon. You assume full liability, directly or indirectly for any damage or loss caused or alleged to be caused by or in connection with your access to, use of, or reliance on any element of such link or third-party site or resource.  </p>
           
           <p>Your interactions with organisations and/or individuals found on or through the Website and/or the Service, including users, Tenants, and/or Landlords, and including payment and delivery of goods or services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between you and such third-party organisations and/or individuals. You should make whatever investigation you feel necessary or appropriate before proceeding with any online or offline transaction with any user, Tenant, and/or Landlord, or any other party or third-party. We do not control such parties, third-parties, or any other website and are not responsible for their actions, content or the privacy or other practices of any other website. </p>
           </div>
           
           <p class="main_terms_point space3">7. PAYMENT</p>
           <div class="terms_full_text"><h3>7.1 Fee Structure.</h3><p class="learn_p">In exchange for providing the Service, Boxyroom keeps a percentage of tenant's first month rent. As a tenant, you agree to pay the amount posted by the landlord with whom you have chosen to stay. As a landlord, posting a listing is free, but you agree to pay Boxyroom its stated administrative fee for each tenant's rental. We use Paypal as a third-party payment system. We do not retain any payment card information. Any and all payments or fees charged by third-party service providers such as Paypal shall be borne by the users themselves unless otherwise stated.  </p>
	      </div>
          <div class="terms_full_text"><h3>7.2 Payment Logistics.</h3><p class="learn_p">If you decide to pay an advance rent to reserve a property, you will be asked to provide your credit card information and billing address. We may obtain a pre-authorisation for the total amount of the advance rent to ensure that you have the necessary amount of funds available to cover the transaction, but will not charge your card at that time. You card will be charged when your credit card information are accepted by the third-party service provide. The funds will be held by Boxyroom until you arrive. After 7 days from the arrival date stated in your application, Boxyroom will transfer the held funds to the landlord, less Boxyroom's administrative fee. Boxyroom is not responsible for tenancy agreement disputes or any other disputes between Tenant and Landlord.  </p>
	      </div>
         
         <div class="terms_full_text"><h3>7.3 Cancellation and Refunds.</h3><p class="learn_p">If you cancel your reservation request, Boxyroom will return the funds to you in accordance with its cancellation policy.  </p>
	      </div>
          
          <div class="terms_full_text"><h3>7.4 Privacy.</h3><p class="learn_p">Our privacy policy governs the handling, storage, and use of any information you submit to us, including credit card billing information. Please see Section 4 of these Terms for further information on this policy.  </p>
	      </div>
          
           <div class="terms_full_text"><h3>7.5 Taxes.</h3><p class="learn_p">Boxyroom does not do business as an owner or operator of hotel or motel rooms, nor is it a provider of rooms, lodging or accommodations. Neither does Boxyroom own, sell, resell, furnish, provide, rent, re-rent, manage and/or control hotel rooms, motel rooms or any other lodgings or accommodations. Boxyroom does not act as an agent for any providers or users of hotel rooms, motel rooms, or other lodging or accommodations. Boxyroom merely makes available a marketplace for Landlord and Tenant to meet and arrange for accommodations. Boxyroom is not a contracting agent or representative of the Landlord or Tenant. Instead, Boxyroom's role is solely to facilitate the availability of this marketplace for the Landlord and Tenant and to provide services related thereto, and any agreement for the use of any accommodations is solely between the Landlord and Tenant, and not Boxyroom. You understand that we are acting solely as an intermediary for the collection of rents and fees between you and any landlords or tenants with whom you choose to enter into a transaction. Because state and local tax laws vary significantly by locality, you understand and agree that you are solely responsible for determining your own tax reporting requirements in consultation with tax advisors, and that we cannot and do not offer tax advice to either landlords or tenants.   </p>
	      </div>
          
          <div class="terms_full_text"><h3>7.6 Damages.</h3><p class="learn_p">As a tenant, you are responsible for leaving the property in the condition that it was given to you. In the event that a landlord claims otherwise and provides evidence of damage, including but not limited to photographs, you agree to pay the cost of replacing the damaged items with equivalent items.  </p>
	      </div>
          
          
          <p class="main_terms_point space">8. PROPRIETARY RIGHTS</p>
           <div class="terms_full_text"><h3>8.1 Our Intellectual Property.</h3><p class="learn_p">Material on our Site (with the exception of Third-Party Content) is protected by rights of publicity, copyright, trademark, trade secret, and other proprietary rights and intellectual property laws as applicable. Except as expressly authorised by us, you may not sell, license, rent, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit or create derivative works from such material. "Boxyroom" and "www.boxyroom.com" are trademarks of Boxyroom; you agree not to use such marks for any purpose, including but not limited to as metatags on other websites, in written materials or otherwise.   </p>
	      </div>
          <div class="terms_full_text"><h3>8.2 Your Use of Our Intellectual Property.</h3><p class="learn_p">You may not systematically retrieve data or other content from our Site to create or compile, directly or indirectly, in single or multiple downloads, a collection, compilation, database, directory or the like, whether by manual methods, through the use of bots, crawlers, or spiders, or otherwise. You may not display any portion of our Site in a frame (or any content from our Site through in-line links) without our prior written consent, which may be requested by contacting us at contact@boxyroom.com. You may, however, establish ordinary links to the homepage of our Site without our written permission, and you may make use of embedded HTML "widgets" if we have provided the HTML code.  </p>
	      </div>
          
          
          <p class="main_terms_point space">9. USERNAME AND PASSWORD.</p>
           <div class="terms_full_text"><p class="learn_p">You will select a username and password as part of the registration process. You are solely responsible for the confidentiality and use of your username and password. You must: (a) log off from your account at the end of each session on our Site; and (b) notify us immediately of any unauthorised use of your username and password or any other breach of security.   </p>
	      </div>
          
          <p class="main_terms_point space">10. TERMINATION.</p>
           <div class="terms_full_text"><p class="learn_p">We may, in our discretion and without liability to you, with or without cause, with or without prior notice and at any time: (a) terminate your access to our Services, (b) deactivate or delete any of your accounts and all related information and files in such accounts and (c) bar your access to any of such files or Services. Upon termination we will promptly pay you any advance rent held in escrow and due to you, less our administrative fee.  </p>
	      </div>
          
          <p class="main_terms_point space">11. MODIFICATION OF SERVICES.</p>
           <div class="terms_full_text"><p class="learn_p">We may, in our discretion and without liability to you, with or without prior notice and at any time, modify or discontinue, temporarily or permanently, any portion of our Services.   </p>
	      </div>
          
          <p class="main_terms_point space">12. LEGAL COMPLIANCE.</p>
           <div class="terms_full_text"><p class="learn_p">You shall use our Services in a manner consistent with any and all applicable local, state, national and international laws and regulations.   </p>
	      </div>
          
          <p class="main_terms_point space">13. DISCLAIMER OF WARRANTIES</p>
           <div class="terms_full_text"><h3>13.1</h3><p class="learn_p"> IF YOU USE OUR SERVICES, YOU DO SO AT YOUR SOLE RISK. YOU ACKNOWLEDGE AND AGREE THAT BOXYROOM DOES NOT CHECK ANY TENANT, LANDLORD, OR OTHER USER'S BACKGROUND OR RECORD. BOXYROOM IS A REPUTATION-BASED SYSTEM. TAKE ADVANTAGE OF OTHER USER'S COMMENTS AND THIRD-PARTY REFERRALS ON LANDLORDS AND TENANTS. USE COMMON SENSE. BE AWARE AND BE SAFE. OUR SERVICES ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. WE EXPRESSLY DISCLAIM, AND YOU WAIVE, ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.    </p>
	      </div>
          
          <div class="terms_full_text"><h3>13.2 </h3><p class="learn_p"> 
              <ul>WE DO NOT WARRANT THAT 
                <li class="terms_13_li"><span>OUR SERVICES WILL MEET YOUR REQUIREMENTS;</span></li>
                <li class="terms_13_li"><span>OUR SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE;</span></li>
                <li class="terms_13_li"><span>ANY INFORMATION THAT YOU MAY OBTAIN THROUGH OUR SERVICES WILL BE ACCURATE OR RELIABLE;</span></li>
                <li class="terms_13_li"><span>THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH OUR SERVICES WILL MEET YOUR EXPECTATIONS;OR</span></li>
                <li class="terms_13_li"><span>ANY ERRORS IN ANY DATA OR SOFTWARE WILL BE CORRECTED.</span></li>
              </ul></p>
	      </div>
          
          <div class="terms_full_text"><h3>13.3</h3><p class="learn_p">  IF YOU ACCESS OR TRANSMIT ANY CONTENT THROUGH THE USE OF OUR SERVICES, YOU DO SO AT YOUR OWN DISCRETION AND YOUR SOLE RISK. YOU ARE SOLELY RESPONSIBLE FOR ANY LOSS OR DAMAGE ARISING OUT OF SUCH ACCESS OR TRANSMISSION.   </p>
	      </div>
          <div class="terms_full_text"><h3>13.4</h3><p class="learn_p"> NO DATA, INFORMATION OR ADVICE OBTAINED BY YOU IN ORAL OR WRITTEN FORM FROM US OR THROUGH OR FROM OUR SERVICES WILL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THESE TERMS.  </p>
	      </div>
          
          <div class="clr"></div>
          
          
          <p class="main_terms_point space3">14. LIMITS ON LIABILITY</p>
           <div class="terms_full_text"><h3>14.1</h3><p class="learn_p"> WE SHALL NOT BE LIABLE FOR DAMAGES OF ANY KIND (INCLUDING, BUT NOT LIMITED TO, ANY DIRECT, INCIDENTAL, GENERAL, SPECIAL, CONSEQUENTIAL, EXEMPLARY OR PUNITIVE DAMAGES) EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, ARISING FROM OR RELATING TO:</p>
           <ul>
           		<li class="terms_13_li"><span>THE USE OR INABILITY TO USE OUR SERVICES;</span></li>
                <li class="terms_13_li"><span>HARM OR DAMAGE TO YOUR PROPERTY AS A RESULT OF USING OUR SERVICES;</span></li>
                <li class="terms_13_li"><span>DISCLOSURE OF, UNAUTHORISED ACCESS TO OR ALTERATION OF YOUR CONTENT;</span></li>
                <li class="terms_13_li"><span>ANY HARM TO YOU CAUSED IN WHOLE OR PART BY A THIRD PARTY, INCLUDING BUT NOT LIMITED TO ANOTHER USER OF THE SERVICES;</span></li>
                <li class="terms_13_li"><span>STATEMENTS, CONDUCT OR OMISSIONS OF ANY TENANT, LANDLORD, OR OTHER THIRD PARTIES ON OUR SERVICES; OR</span></li>
                <li class="terms_13_li"><span>YOUR OR ANYONE ELSE'S CONDUCT OR ACTS IN CONNECTION WITH THE USE OF THE SERVICES, INCLUDING WITHOUT LIMITATION FROM INTERACTIONS WITH OTHER USERS OF OUR SERVICES OR PERSONS INTRODUCED TO YOU BY OUR SERVICES, WHETHER ON-LINE OR OFF-LINE.</span></li>
                </ul>
	      </div>
          
          <div class="terms_full_text"><h3>14.2 </h3><p class="learn_p"> WE SHALL NOT BE LIABLE FOR ANY FAILURE OR DELAY IN PERFORMING UNDER THESE TERMS DUE TO CAUSES BEYOND OUR REASONABLE CONTROL, INCLUDING BUT NOT LIMITED TO ACTS OF NATURE AND POWER, INTERNET, AND EMAIL DISCONTINUITY.  </p>
	      </div>
          <div class="terms_full_text"><h3>14.3 </h3><p class="learn_p"> EXCEPT AS SET FORTH IN SECTION 18, IN NO EVENT WILL OUR AGGREGATE LIABILITY TO YOU OR ANY THIRD PARTY IN ANY MATTER ARISING FROM OR RELATING TO WITH OUR SERVICES OR THESE TERMS EXCEED THE SUM OF ONE HUNDRED U.S. DOLLARS ($100).  </p>
	      </div>
          
          <div class="clr"></div>
          
          <p class="main_terms_point space3">15. INDEMNITY.</p>
           <div class="terms_full_text"><p class="learn_p">You shall indemnify and hold us (and each of our officers, directors, and employees) harmless from any third-party claim, demand, action, damage, loss, cost or expense, including without limitation reasonable legal fees, arising out or relating to your use of our Services or alleging facts or circumstances that, if true, could constitute your breach of any of these Terms. We will control any such defence and related settlement and you will reasonably assist us therewith at your expense.  </p>
	      </div>
          
          
          <p class="main_terms_point space3">16. REPORTING MISCONDUCT.</p>
           <div class="terms_full_text"><p class="learn_p">If you stay with or landlord anyone who you feel is acting or has acted inappropriately, including but not limited to offensive, violent or sexually inappropriate behaviour, who you suspect of stealing from you, or who engages in any other disturbing conduct, you must immediately report such person to the appropriate authorities and then to us by contacting us with your police station and report number at contact@boxyroom.com; provided that your report shall not obligate us to take any action beyond that required by law (if any) or cause us to incur any liability to you.  </p>
	      </div>
          
          <p class="main_terms_point space3">17. JURISDICTION AND VENUE.</p>
           <div class="terms_full_text"><p class="learn_p">These terms are governed by Singapore law and any dispute will be resolved exclusively by the Singaporean courts.  </p>
	      </div>
          
          <p class="main_terms_point space3">18. LEGAL FEES.</p>
           <div class="terms_full_text"><p class="learn_p">The prevailing party in any action brought under this agreement shall be entitled to reasonable legal fees and costs. </p>
	      </div>
          
          <p class="main_terms_point space3">19. MISCELLANEOUS.</p>
           <div class="terms_full_text"><p class="learn_p">These Terms contain the entire agreement, and supersede all prior and contemporaneous understandings between the parties. Our failure or delay in exercising any right, power or privilege under these Terms shall not operate as a waiver thereof. The invalidity or unenforceability of any of these Terms shall not affect the validity or enforceability of any other of these Terms, all of which shall remain in full force and effect. We may assign our rights and delegate our obligations under these Terms in whole or part to a third party. Headings of sections are for convenience only and shall not be used to limit or construe such sections. Sections 1.4 (Release), 4 (Privacy), 5.1 (License), 6 (Third-Party Content), 7 (Payment), 8 (Proprietary Rights), 14 (Limits on Liability), 15 (Indemnity), 17 (Jurisdiction and Venue), 18 (Legal Fees), and this Section 19 (Miscellaneous) shall survive any termination or expiration of these Terms. </p><br>
           
           <p>Please contact us at contact@boxyroom.com with any questions regarding these Terms. </p><br>
           <p>Your continued use of this Site and registration to use our Services is contingent upon your agreement to be bound by the foregoing Terms of Use. </p>
	      </div>

        
        
         
        </div>
        
        <div class="clr"></div>
      </div>
      
    
      
      
      <div class="clr"></div>
    </div>
    
  
  
     <div class="howitwork_bottm_corner_row">
              <div class="howitwork_bottm_leftcor"></div>
              <div class="howitwork_bottm_middle"></div>
              <div class="howitwork_bottm_rightcor"></div>
     </div>   
            
            <div class="clr"></div>
		</div>
			</div>
		</div>
     </div>
