
<div id="content">
        <div class="container">
		<%str= flash_helper %>
		<%unless str.blank?%>
		  <%- content_tag :div, :id => "payment_notification",:style=>"text-align: center;" do %>
		      <div class="message_payment" ></span><span ><%= str %></span></div>
		  <%- end %>
		<%end%>
	          <%- if @property.applications.empty? %>
		      <%- content_tag :div, :id => "payment_notification",:style=>"text-align: center;" do %>
			<div class="message_payment" ><span >There are currently no applications for this property.</span></div>
		  <%- end %>
		  <% end %>
                <div class="primary">
		      <h1>Your Property in <strong class="location"   style="font-size: 12px;"><%= truncate @property.address.location %></strong></h1>
			<%- form_for(:application , :url =>"/payments/payment_transfer", :html => {:class => "complex-form" , :style=>"width:686px;"}) do |f| %>
			<div class="content" style="min-height:132px; margin-bottom: -18px;width: auto;">
			  <%unless true%>
			    <%- content_tag :div, :id => "errorExplanation" do %>
			      <%= str %>
			    <%- end %>
			  <%end%>
			  <div >
			    <div class="thumbnail large">
			      <%- if @property.pictures.empty? %>
				<%= image_tag("/images/missing/missing_properties_thumb.png") %>
			      <%- else %>
				<%= image_tag(@property.pictures.first.image.url(:middle)) %>
			      <%- end %>
			    <div class="overlay"></div>
			  </div>
			  <p style="float:left; padding-left:20px;  width:486px;color:#3A3A3A;"><span class="title"><%= @property.title%></span><br><%= @property.description.slice(0..350)%>.</p>
			  </div>
			</div>
			    <div class="tabs">
				<fieldset id="paypal">
				  <span> 
				    <div id="ct-rt">
				  </div>
				</span>
			      </fieldset>
			    </div>
			<% end %>
                        <table cellspacing="0" class="listings">
                                <caption>Property Applications</caption>
                                <colgroup>
                                        <col class="description" />
                                        <col class="amount" />
                                        <col class="description" />
                                        <col class="actions" />
					<col class="actions" />
                                </colgroup>
                                <thead>
                                        <tr>
                                                <th>Applicant Name</th>
                                                <th>Profile</th>
                                                <th>Arrival Date</th>
						<th>Status</th>
                                                <th>Action</th>
                                        </tr>
                                </thead>
                                <tbody>
                                <%if !@property.applications.empty?%>
				 <%- @property.applications.each do |application| %>
                                    <% next if !application.can_show? %>
				    <%unless application.status=="cancelled"%>
                                        <tr>
                                                <td >
						 <%= link_to application.user.full_name_profile  , admin_user_path(application.user) %>
                                                </td>
                                                <td ><%= application.purpose %></td>
						<td><%= boxy_date_format_for_account application.expected_arrival%></td>
                                                <%if application.approved?%>
                                                  <td style="width: 112px;"><span class="green status approved"></span></td>
                                                <%elsif application.pending?%>
                                                   <td style="width: 112px;"><span class="orange status pending"></span></td>
                                                <%elsif application.rejected?%>
                                                    <td style="width: 112px;"><span class="red status rejected"></span></td>
                                                <%elsif application.paid?%>
                                                    <td style="width: 112px;"><span class="blue status paid"></span></td>
                                                <%elsif application.moved_in?%>
                                                    <td style="width: 112px;"><span class="red status moved_in"></span></td>
                                                <% end %>
                                                <td>
                                                        <div class="manage">
                                                                <strong></strong>
                                                                <ul class="menu">
								    <li><%= link_to "Email Applicant", new_my_message_path(:to => application.user.id) %></li>
								  <li class="divider"></li>
								  <li><%= link_to "View Application", my_property_application_path(@property, application) %></li>
								  <%- if application.can_approve? %>
								    <li><%= link_to "Approve Application", approve_my_property_application_path(@property, application), :method => :put %></li>
								  <%- end %>
								  <%- if application.can_reject? %>
								    <li><%= link_to "Reject Application", reject_my_property_application_path(@property, application), :method => :put %></li>
								  <%- end %>
                                                                </ul>
                                                        </div>
                                                </td>
                                        </tr>
                                  <% end %>
                                <% end %>
                             <%else%>
                                  <tr><td>Nothing to show you.</td><td></td><td></td><td></td><td></td></tr>
                             <%end%>
                                </tbody>
                        </table>
		    <table cellspacing="0" class="listings">
			    <caption>Cancelled Applications</caption>
			    <colgroup>
				    <col class="description" />
				    <col class="amount" />
				    <col class="description" />
				    <col class="actions" />
				    <col class="actions" />
			    </colgroup>
			    <thead>
				    <tr>
					    <th>Applicant Name</th>
					    <th>Profile</th>
					    <th>Arrival Date</th>
					    <th>Status</th>
					    <th>Action</th>
				    </tr>
			    </thead>
			    <tbody>
 		            <%-if !@cancelled.empty? %>
                             <%- @cancelled.each do |application| %>
				    <tr>
					    <td >
						 <%= link_to application.user.full_name_profile  , admin_user_path(application.user) %>
					    </td>
					    <td><%= application.purpose %></td>
					    <td><%= boxy_date_format_for_account application.expected_arrival%></td>
					    <td style="width: 112px;"><span class="red status cancelled"></span></td>
					    <td>
						    <div class="manage">
							    <strong></strong>
							    <ul class="menu">
								<li><%# link_to "View Profile", user_path %></li>
							      <li><%= link_to "Email Applicant", new_my_message_path(:to => application.user.id) %></li>
							      <%- if application.can_approve? %>
								<li><%= link_to "Approve Application", approve_my_property_application_path(@property, application), :method => :put %></li>
							      <%- end %>
							      <%- if application.can_reject? %>
								<li><%= link_to "Reject Application", reject_my_property_application_path(@property, application), :method => :put %></li>
							      <%- end %>
							    </ul>
						    </div>
					    </td>
				    </tr>
			    <% end %>
                            <%else%>
                                  <tr><td>Nothing to show you.</td><td></td><td></td><td></td><td></td></tr>
                            <%end%>
			    </tbody>
		    </table>
	      </div>
               <div class="secondary">
		<div class="section">
			<h3 class="purple">Property Information</h3>
			<div class="details" >
				<strong style="width: 228px;"><span style="float:left;"><%= return_currency_abbrebiation(@property.currency_type.nil? ? 'USD' : @property.currency_type)%><%= ISO4217::Currency.from_code(@property.currency_type.nil? ? 'USD' : @property.currency_type).symbol%><%=@property.monthly_rental.to_i%></span> <span class="per_month_text" style="margin-left: 7px;">per month</span> </strong>
			</div>
			<ul class="attributes">
				<li><span class="label property">Whole apartment: <span style="float: right;font-weight: 500;"><%= @property.floor_area %><%= PropertiesHelper::OPTIONS_FOR_UNIT[@property.unit.try(:to_sym)] %></span></span></li>
				<li><span class="label property">Subletting: </span> <span class="data"><%= @property.sublet ? "Yes" : "No" %></span></li>
				<li><span class="label property">Accept on same day notice: </span> <span class="data"><%= @property.short_notice ? "Yes" : "No" %></span></li>
				<li><span class="label property">Max no. of occupants: </span> <span class="data"><%= @property.occupancy %></span></li>
				<li><span class="label property">Landlord staying here: </span> <span class="data"><%= @property.landlord_address ? "Yes" : "No" %></span></li>
				<li><span class="label property">Minimum rental period: </span> <span class="data"><%= @property.rental_period %> months</span></li>
				<li><span class="label property">No. of rooms: </span> <span class="data"><%= @property.rooms %></span></li>
				<li><span class="label property">Private bathroom(s): </span> <span class="data"><%= @property.bathroom ? "Yes" : "No" %></span></li>
			</ul>
		</div>
            </div>
        </div>
</div>



