.primary .complex-form {
    background-color: #fefefe;
    border: 1px solid #d0d0d0;
    border-top: 0;
    border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    font-size: 90%;
    line-height: 1.4;
    margin-bottom: 16px;
    position: relative;
    width: 634px;
    padding: 0 12px 12px;
    overflow: auto;
}

.primary .complex-form fieldset {
    margin-bottom: 16px;
}

.primary .complex-form fieldset p {
    position: relative;
    float: left;
    width: 290px;
    display: block;
    padding: 16px 0 0;
    margin-right: 21px;
}

.primary .complex-form fieldset p.right {
    float: right;
}
p.r {
    float: right;
    padding-top: 5px;
}

.primary .complex-form fieldset p.full {
    position: relative;
    float: left;
    width: 618px;
}

.primary .complex-form fieldset p label {
    position: absolute;
    top: 23px;
    left: 12px;
    font-weight: 500;
}
.primary .complex-form fieldset p.r label {
    position: absolute;
    top: 2px;
    left: 12px;
    font-weight: 500;
}

.primary .complex-form fieldset p.normal label {
    position: relative;
    top: 0;
    left: 0;
    float: left;
    padding-right: 8px;
}

.primary .complex-form fieldset legend {
    border: 1px solid #d1e4ee;
    background-color: #e0eff7;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    color: #153e52;
    padding: 8px 12px;
    text-align: left;
    font-weight: 500;
    width: 610px;
    float: left;
    margin-top: 12px;
}

.primary .complex-form fieldset table {
    border: 0;
    border-collapse: separate;
    margin-top: 12px;
}

.primary .complex-form fieldset table th {
    border: 1px solid #d5d5d5;
    background-color:#eaeaea;
    color: #555555;
    padding: 8px 12px;
    text-align: left;
    font-weight: 500;
    margin-top: 0;
    width: 30%;
}

.primary .complex-form fieldset table td {
    border: 1px solid #d5d5d5;
    background-color:#f0f0f0;
    color: #959595;
    padding: 8px 12px;
    text-align: left;
    font-weight: 500;
    margin-top: 0;
}

.primary .complex-form fieldset table .firsttr th {
    border-radius: 6px 0px 0px 0px;
    -webkit-border-radius: 6px 0px 0px 0px;
    -moz-border-radius:6px 0px 0px 0px;
}

.primary .complex-form fieldset table .firsttr td {
    border-radius: 0px 6px 0px 0px;
    -webkit-border-radius: 0px 6px 0px 0px;
    -moz-border-radius:0px 6px 0px 0px;
}

.primary .complex-form fieldset table .lasttr th {
    border-radius: 0px 0px 0px 6px;
    -webkit-border-radius: 0px 0px 0px 6px;
    -moz-border-radius: 0px 0px 0px 6px;
}

.primary .complex-form fieldset table .lasttr td {
    border-radius: 0px 0px 6px 0px;
    -webkit-border-radius: 0px 0px 6px 0px;
    -moz-border-radius: 0px 0px 6px 0px;
}
.primary .complex-form fieldset table.total th {
    border-radius: 6px 0px 0px 6px;
    -webkit-border-radius: 6px 0px 0px 6px;
    -moz-border-radius: 6px 0px 0px 6px;
    background-color: #b8e698;
}

.primary .complex-form fieldset table.total td {
    border-radius: 0px 6px 6px 0px;
    -webkit-border-radius: 0px 6px 6px 0px;
    -moz-border-radius: 0px 6px 6px 0px;
    background-color: #c7f2a8;
}


.primary .complex-form fieldset .errors {
    border-left: 1px solid #ef8282;
    border-right: 1px solid #ef8282;
    background-color: #ee9898;
    color: #ce6161;
    /*text-shadow: 1px 1px 2px #913636;*/
    padding: 8px 12px;
    text-align: left;
    font-weight: 200;
    font-size: 80%;
    position: relative;
    margin-bottom: 8px;
}

.primary .complex-form fieldset input[type="text"], .primary fieldset textarea {
    padding: 8px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    outline: medium none;
    border: 1px solid #bebebe;
    background: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), color-stop(0.12, #fff), to(#fff));
    background: -moz-linear-gradient(top, #e4e4e4 0%, #fff 12%, #fff 100%);
    float: left;
    width: 100%;
}

.primary fieldset textarea {
    height: 100px;
}

.primary .complex-form .buttons {
    padding: 14px 14px 0;
}

.primary .complex-form .tabs .navigation {
    border: 1px solid #e8e8e8;
    background-color: #f0f0f0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    color: #959595;
    padding: 8px 12px;
    text-align: left;
    font-weight: 500;
    width: 610px;
    margin-bottom: 12px;
}

.primary .complex-form .tabs .navigation2 {
    border: 1px solid #d1e4ee;
    background-color: #e0eff7;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    color: #153e52;
    padding: 8px 12px;
    text-align: left;
    font-weight: 500;
    width: 610px;
    margin-top: 12px;
}

.content {
    -moz-border-radius:6px 6px 6px 6px;
    background-color:#F0F0F0;
    border:1px solid #E8E8E8;
    color:#959595;
    font-weight:500;
    margin-bottom:12px;
    margin-top:10px;
    padding:8px 12px;
    text-align:left;
    width:610px;
    min-height: 180px;
}

.content > p {
    margin: 10px;
    margin-left: 180px;
}

.content > p > .title {
    font-weight: bold;
    color: #555555;
    font-size: 16px;
}

.content > .peck {
    -moz-border-radius:6px 6px 6px 6px;
    background-color:#d5d5d5;
    border:1px solid #E0E0E0;
    color:#959595;
    font-weight:500;
    margin:auto;
    margin-top: 30px;
    padding:8px 12px;
    text-align:left;
    width:590px;
}

.content > .peck > b {
    color:#555;
}

.primary .complex-form .tabs .navigation ul {
    float: right;
}

.primary .complex-form .tabs .navigation ul li {
    float: left;
}

.primary .complex-form .tabs .navigation ul a {
    color: #3b3a3a;
    padding: 4px 8px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.primary .complex-form .tabs .navigation ul li.ui-tabs-selected a {
    background-color: #d6d6d6;
}

.primary .complex-form .tabs .navigation2 ul {
    float: right;
}

.primary .complex-form .tabs .navigation2 ul li {
    float: left;
}

.primary .complex-form .tabs .navigation2 ul a {
    color: #153e52;
    padding: 4px 8px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.primary .complex-form .tabs .navigation2 ul li.ui-tabs-selected a {
    background-color: #bfd7e4;
}